
{% extends "default.html" %}

{% block body %}
<!-- 服务器概况-->
<div class="ui vertical segment" id="info" >
<h2>平台概况</h2>
<div class="ui blue three statistics" style="padding-right: 5%;">
    <div class="statistic">
      <div class="value">
        {{info["server_num"]}}
      </div>
      <div class="label">
        台服务器
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{info["gpu_num"]}}
      </div>
      <div class="label">
        可用显卡数量
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{info["click_num"]}}
      </div>
      <div class="label">
        平台累计访问次数
      </div>
    </div>
  </div>
</div>
<!--服务器推荐-->
<div class="ui vertical segment" id="info">
<h2>实时推荐使用服务器</h2>
    <div class="ui three column grid">
      <div class="ui column">
        <div class="ui card">
            <div class="content">
              <div class="header">{{r[0]["name"]}}</div>
              <div class="meta">{{r[0]["server-type"]}}</div>
              <div class="description">
                目前资源占用率最小，推荐使用
              </div>
            </div>
            <div class="extra content">
              <button class="ui button"><a href={{r[0]["link"]|safe}}>查看详细信息</a></button>
            </div>
        </div>
      </div>
      <div class="ui column">
        <div class="ui card">
          <div class="content">
            <div class="header">{{r[1]["name"]}}</div>
            <div class="meta">{{r[1]["server-type"]}}</div>
            <div class="description">
              可用资源充分，推荐使用
            </div>
          </div>
          <div class="extra content">
            <button class="ui button"><a href={{r[1]["link"]|safe}}>查看详细信息</a></button>
          </div>
      </div>
      </div>
       <div class="ui column">
        <div class="ui card">
          <div class="content">
            <div class="header">{{r[2]["name"]}}</div>
            <div class="meta">{{r[2]["server-type"]}}</div>
            <div class="description">
              可用资源充分，推荐使用
            </div>
          </div>
          <div class="extra content">
            <button class="ui button"><a href={{r[2]["link"]|safe}}>查看详细信息</a></button>
          </div>
      </div>
      </div>
</div>
<!--服务器列表-->
<div class="ui vertical segment" id="info" >
<h2>服务器列表</h2>
<table class="ui celled padded table">
<thead>
  <tr>
    <th class="single line">名称</th>
    <th>ip地址</th>
    <th>推荐指数</th>
    <th>Cuda版本</th>
    <th>存放位置</th>
    <th>详细信息</th>
  </tr>
</thead>
<tbody>
{% for server in servers %}
  <tr>
    <td>
      <h3 class="ui left aligned header">
        {{ server["name"] }}
      </h3>
    </td>
    <td class="single line">
      {{ server["address"] }}
    </td>
    <td>
      <div class="ui star rating disabled" data-rating="3" data-max-rating="5">
      {% for i in range(server["occupy"])%}
        <i class="icon active"></i>
      {%   endfor %}
      </div>
    </td>
    <td class="single line">
      {{ server["cuda_version"] }}
    </td>
    <td class="single line">
      {{ server["location"] }}
    </td>
    <td class="left aligned">
        <a href= {{ 'server?sid=' + server["name"]  | safe}}>服务器使用状况</a>
    </td>
  </tr>
 {% endfor %}
</tbody>
<tfoot>
  <tr><th colspan="6">
    <div class="ui right floated pagination menu">
      <a class="icon item">
        <i class="left chevron icon"></i>
      </a>
      <a class="item">1</a>
      <a class="item">2</a>
      <a class="item">3</a>
      <a class="item">4</a>
      <a class="icon item">
        <i class="right chevron icon"></i>
      </a>
    </div>
  </th>
</tr></tfoot>
</table>

{% endblock %}


